<% provide(:title, "Home") %>
<div class="center jumbotron" id="jumbotron">
  <h1 id="jbfirst">Welcome to Deliver-EZ</h1>

  <h2>
    Sign up and get your groceries delivered now!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
