<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Deliver-EZ</h1>

  <h2>
    Sign up and get your groceries delivered now!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
